ul.placeList {
	display: grid;

	margin: auto;
	grid-template-columns: repeat(3, 1fr);
	padding: initial;
}

ul.placeList li.places-card {
	list-style-type: none;
	margin: 10px;
	border-radius: 15px;
	border: 1px solid rgb(66, 140, 149);
	box-shadow: 0px 20px 20px 0 rgb(66, 140, 149, 0.4);
}

ul.placeList .dishe-img {
	border-radius: 20px;
	width: 170px;
}

.img-place {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 110px;
	border-radius: 10px;
	width: 180px;
}
.carousel {
	display: none;
	background: linear-gradient(to bottom, rgb(66, 140, 149, 0.7), white);
	border-radius: 10px;
	margin-top: 20px;
}

.place-title {
	font-size: 1.1rem;
	color: #1b444b;
}

.place-description {
	font-size: .8rem;
	line-height: 1.6;
	color: #1b444b;
}

ul.placeList li.places-card:hover {
	transform: scale(1.02);
	transition: all 0.3s ease;
	background: linear-gradient(to bottom, rgb(66, 140, 149), white);
	border-radius: 15px;
}

@media screen and (max-width: 768px) {
	ul.placeList {
		display: none;
	}

	.carousel {
		display: block;
	}
}
